body {
  font-family: "Roboto", sans-serif;
}

a:hover {
  text-decoration: none;
}

header {
  padding: 45px 0;
}

header .logo-box .logo {
  max-width: 100%;
}

@media only screen and (max-width: 800px) {
  header .logo-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
}

header nav {
  text-align: right;
}

header nav .nav-item-custom {
  margin: 15px;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

@media only screen and (max-width: 576px) {
  header nav .nav-item-custom {
    display: inline-block;
  }
}

header nav .nav-item-custom.active {
  color: #f25822;
}

header nav .started {
  background-color: #f25822;
  color: #fff;
  border-radius: 25px;
  padding: 12px 25px;
}

main #intro {
  background-image: url(../images/intro_background.png);
  background-position: 120%;
  background-repeat: no-repeat;
  padding: 100px 0;
}

@media only screen and (max-width: 768px) {
  main #intro {
    background-image: none;
  }
}

main #intro .intro_title h1 {
  font-size: 60px;
  line-height: 70px;
  font-weight: bold;
}

main #intro .intro_title h1 span {
  border: 1px solid #f25822;
  border-radius: 50%;
}

main #intro .intro_title p {
  color: #888888;
  font-size: 20px;
  line-height: 23px;
  margin: 30px 0 35px 0;
}

main #intro .intro_title .intro_btns .strt_btn {
  background-color: #f25822;
  color: #fff;
  border-radius: 25px;
  padding: 12px 25px;
  margin-right: 27px;
}

main #intro .intro_title .intro_btns img {
  margin-right: 15px;
}

main #intro .intro_title .intro_btns a:last-child {
  color: #aaaaaa;
}

main #brands {
  padding: 100px 0;
}

main #brands .brand-wrapper {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 768px) {
  main #brands .brand-wrapper {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px 5px;
  }
}

@media only screen and (max-width: 576px) {
  main #brands .brand-wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 20px;
  }
}

main #project {
  padding: 50px 0;
  background-color: #fafafa;
  position: relative;
}

main #project .line {
  position: absolute;
  max-width: 100%;
}

@media only screen and (max-width: 768px) {
  main #project .line {
    display: none;
  }
}

main #project .line-bottom {
  top: -45%;
  left: 0;
}

main #project .line-up {
  top: 0;
  left: 0;
}

main #project .project-info {
  position: relative;
  z-index: 2;
}

@media only screen and (max-width: 576px) {
  main #project .project-info {
    padding: 25px 0;
  }
}

main #project .project-info h3 {
  font-size: 45px;
  line-height: 56px;
}

@media only screen and (max-width: 576px) {
  main #project .project-info h3 {
    font-size: 35px;
    line-height: 46px;
  }
}

main #project .project-info p {
  font-size: 16px;
  line-height: 150%;
  color: #888888;
  margin: 35px 0;
}

main #project .project-info .btn-more {
  display: inline-block;
  background-color: #f25822;
  color: #fff;
  border-radius: 25px;
  padding: 12px 25px;
}

main #project .macc {
  position: relative;
  z-index: 2;
}

main #thumbnails {
  padding: 100px 0;
}

main #thumbnails .thumbnail-item {
  padding: 40px 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media only screen and (max-width: 768px) {
  main #thumbnails .thumbnail-item {
    text-align: center;
  }
}

main #thumbnails .thumbnail-item h5 {
  font-size: 24px;
  line-height: 30px;
  margin: 25px 0 20px;
}

main #thumbnails .thumbnail-item p {
  font-size: 15px;
  line-height: 150%;
}

main #thumbnails .thumbnail-item a {
  font-size: 11px;
  line-height: 150%;
  color: #000;
}

main #thumbnails .thumbnail-item:hover {
  -webkit-box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
          box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}
