body {
  font-family: "Roboto", sans-serif;
}

a:hover {
  text-decoration: none;
}

header {
  padding: 45px 0;
}

header .logo-box .logo {
  max-width: 100%;
}

@media only screen and (max-width: 800px) {
  header .logo-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
}

header nav {
  text-align: right;
}

header nav .nav-item-custom {
  margin: 15px;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

@media only screen and (max-width: 576px) {
  header nav .nav-item-custom {
    display: inline-block;
  }
}

header nav .nav-item-custom.active {
  color: #f25822;
}

header nav .started {
  background-color: #f25822;
  color: #fff;
  border-radius: 25px;
  padding: 12px 25px;
}

main #intro {
  background-image: url(../images/intro_background.png);
  background-position: 120%;
  background-repeat: no-repeat;
  padding: 100px 0;
}

@media only screen and (max-width: 768px) {
  main #intro {
    background-image: none;
  }
}

main #intro .intro_title h1 {
  font-size: 60px;
  line-height: 70px;
  font-weight: bold;
}

main #intro .intro_title h1 span {
  border: 1px solid #f25822;
  border-radius: 50%;
}

main #intro .intro_title p {
  color: #666666;
  font-size: 20px;
  line-height: 23px;
  margin: 30px 0 35px 0;
}

main #intro .intro_title .intro_btns .strt_btn {
  background-color: #f25822;
  color: #fff;
  border-radius: 25px;
  padding: 12px 25px;
  margin-right: 27px;
}

main #intro .intro_title .intro_btns img {
  margin-right: 15px;
}

main #intro .intro_title .intro_btns a:last-child {
  color: #aaaaaa;
}

main #brands {
  padding: 100px 0;
}

main #brands .brand-wrapper {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 768px) {
  main #brands .brand-wrapper {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px 5px;
  }
}

@media only screen and (max-width: 576px) {
  main #brands .brand-wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 20px;
  }
}

main #project {
  padding: 50px 0;
  background-color: #fafafa;
  position: relative;
}

main #project .line {
  position: absolute;
  max-width: 100%;
}

@media only screen and (max-width: 768px) {
  main #project .line {
    display: none;
  }
}

main #project .line-bottom {
  top: -45%;
  left: 0;
}

main #project .line-up {
  top: 0;
  left: 0;
}

main #project .project-info {
  position: relative;
  z-index: 2;
}

@media only screen and (max-width: 576px) {
  main #project .project-info {
    padding: 25px 0;
  }
}

main #project .project-info h3 {
  font-size: 45px;
  line-height: 56px;
}

@media only screen and (max-width: 576px) {
  main #project .project-info h3 {
    font-size: 35px;
    line-height: 46px;
  }
}

main #project .project-info p {
  font-size: 16px;
  line-height: 150%;
  color: #666666;
  margin: 35px 0;
}

main #project .project-info .btn-more {
  display: inline-block;
  background-color: #f25822;
  color: #fff;
  border-radius: 25px;
  padding: 12px 25px;
}

main #project .macc {
  position: relative;
  z-index: 2;
}

main #thumbnails {
  padding: 100px 0;
}

main #thumbnails .thumbnail-item {
  padding: 40px 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media only screen and (max-width: 768px) {
  main #thumbnails .thumbnail-item {
    text-align: center;
  }
}

main #thumbnails .thumbnail-item h5 {
  font-size: 24px;
  line-height: 30px;
  margin: 25px 0 20px;
}

main #thumbnails .thumbnail-item p {
  font-size: 15px;
  line-height: 150%;
}

main #thumbnails .thumbnail-item a {
  font-size: 11px;
  line-height: 150%;
  color: #000;
}

main #thumbnails .thumbnail-item:hover {
  -webkit-box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
          box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

main #choice {
  padding: 50px 0;
}

main #choice .title {
  font-size: 45px;
  line-height: 56px;
}

main #choice .desc {
  font-size: 16px;
  line-height: 150%;
  color: #666;
}

main #choice .choice-item {
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  overflow: hidden;
}

@media only screen and (max-width: 576px) {
  main #choice .choice-item {
    margin-bottom: 20px;
  }
}

main #choice .choice-item img {
  max-width: 100%;
}

main #choice .choice-item .choice-info {
  padding: 20px;
}

main #choice .choice-item .choice-info h5 {
  font-size: 24px;
  line-height: 30px;
}

main #choice .choice-item .choice-info p {
  font-size: 15px;
  line-height: 150%;
  color: #aaaaaa;
  margin: 25px 0 40px;
}

main #choice .choice-item .choice-info a {
  background-color: #f25822;
  color: #fff;
  border-radius: 25px;
  padding: 12px 25px;
}

main #choice .choice-item:hover {
  -webkit-box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
          box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
}

main #seo {
  padding: 150px 0;
  background-image: url(../images/SEO-bg.png);
  background-position: 10%;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 576px) {
  main #seo {
    padding: 50px 0;
  }
}

main #seo .seo-item h3 {
  font-size: 45px;
  line-height: 53px;
  font-weight: bold;
}

main #seo .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

main #seo .description:hover {
  -webkit-box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
          box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
}

main #seo .des-info {
  margin-left: 30px;
}

main #seo .des-info h4 {
  font-size: 20px;
  line-height: 150%;
  font-weight: bold;
}

main #seo .des-info p {
  font-size: 15px;
  line-height: 150%;
  color: #666;
  margin-top: 10px;
}

main #statistics {
  padding: 100px 0;
}

@media only screen and (max-width: 800px) {
  main #statistics {
    padding: 0;
  }
}

main #statistics .statistics-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
  border: 2px solid #eeeeee;
}

@media only screen and (max-width: 576px) {
  main #statistics .statistics-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

main #statistics .statistics-wrapper .statistics-item {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
}

@media only screen and (max-width: 576px) {
  main #statistics .statistics-wrapper .statistics-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 15px;
  }
}

main #statistics .statistics-wrapper .statistics-item h3 {
  font-size: 40px;
  line-height: 150%;
  color: #666666;
}

main #statistics .statistics-wrapper .statistics-item span {
  font-size: 18px;
  line-height: 150%;
  color: #666666;
}

main #statistics .statistics-wrapper .statistics-item:not(:last-child):after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 50%;
  right: 0;
  border-radius: 50%;
}

@media only screen and (max-width: 800px) {
  main #statistics .statistics-wrapper .statistics-item:not(:last-child):after {
    width: 0;
  }
}

main #statistics .statistics-wrapper .statistics-item.red:after {
  background-color: #f3602d;
}

main #statistics .statistics-wrapper .statistics-item.green:after {
  background-color: #149211;
}

main #statistics .statistics-wrapper .statistics-item.orange:after {
  background-color: #ffc700;
}
