body {
  font-family: $main-font;
}

a {
  &:hover {
    text-decoration: none;
  }
}

.section-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
  h3 {
    font-weight: bold;
    font-size: 45px;
    line-height: 150%;
  }
  span {
    font-size: 16px;
    line-height: 150%;
    color: #666666;
  }
}
